* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    font-family: "poppins", sans-serif;
    background-color: #c4bdbf;
}

.btn {
    width: 250px;
    height: 50px;
    font-size: 20px;
    /* cursor: pointer; */
    /* border: 1px solid orange; */
    background: #091E2A;
    color: #E62C36;
    font-weight:  600;
    border: none;
}

.btn:hover {
    background: #414349;
}



a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    text-align: left;
    font-size: 64px;
    color: black;
    margin-top: 120px;
    /* line-height: 83px; */
    font-weight: 700;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: black;
    margin: 0 auto;
    
    font-weight: 600;
}

h3 {
    text-align: center;
    font-size: 30px;
    color: rgb(255, 1, 1);
    margin: 0 auto;
    
    font-weight: 600;
}

h4 {
    font-size: 24px;
    color: #0A52C8;
    
    font-weight: 600;
}

strong {
    color: #0A52C8;
}

label {
    font-size: 30px;
    color: rgb(0, 0, 0);
}

input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 5px;
    color: orange;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100px;
}
input::placeholder {
    text-indent: 10px; 
  }

.checker {
    color: white;
    font-size: 30px;
}

.btn-slide {
    display: block;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border-color: white;
    background: #E1DDDE; 
    color: rgb(193, 180, 180); 
    font-size: 20px;
    border: none !important;
    font-weight: 800;
    z-index: 1;
}

.btn-slide:hover {
    background: #fcf9f5 !important;
    cursor: pointer;
    color: white;
} 
