/* HEADER */

.header {
    height: 92px;
    background: #091E2A;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.inner_header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGOTYPE */

.logotype {
    /* display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    height: 60px;
    width: fit-content;
    background: orange;
    padding: 8px;
    color: white;
    border-radius: 5px;
    cursor: pointer; */
    width: 44 px;
    height: 68.08 px;
}

/* HEADER MENU */

.menu {
    display: flex;
    justify-content: space-around;
    /* width: 600px; */
    gap: 160px;
}

.menu_link a {
    color: white;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
}

.menu_link a:hover {
    text-decoration: underline;
}

/* MAIN BLOCK */

.main_block {
    padding: 100px 0;
    background: #E1DDDE;;
}

/* BUTTONS COLOR PICKER */

.colors-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.btn-color {
    border-radius: 20px;
    border-color: rgb(222, 9, 9) !important;
    background-color: #F79300;
    width: 250px;
    height: 50px;
    font-size: 20px;
    /* cursor: pointer; */
    /* border: 1px solid orange; */
    background: #ffffff;
    color: #E62C36;
    font-weight:  600;
}

/* FOOTER */

.footer {
    background: #091E2A;
    width: 100%;
}

.inner_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 188px;
}

.footer h2 {
    /* text-transform: uppercase; */
    color: #ffffff;
    font-weight: 500;
}


/* SLIDER BLOCK */

.slider_block {
    padding: 100px 0;
    background: #E1DDDE;
}

.slider {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    /* border: 3px solid orange; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.slide {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.slide_card {
    color: rgb(8, 8, 8);
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

.slide_card h3 {
    color: rgb(255, 0, 0);
    text-transform: uppercase;
    font-size: 22px;
}

.slide_card p {
    font-size: 16px;
    text-align: justify;
    margin: 10px 0;
}

.slide_card a {
    color: orange;
    text-decoration: underline;
}

.slide.active_slide {
    display: block;
}

/* VIDEO BLOCK */

.block_video {
    background: #E1DDDE;
    padding: 100px 0;
}

.inner_block_video {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* MODAL */

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.modal_dialog {
    max-width: 500px;
    margin: 150px auto;
}

.modal_content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: rgb(251, 251, 251);
   
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
}

.modal_content form {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color:  black;
    opacity: 0.5;
    
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal_title {
    text-align: center;
    font-size: 22px;
    /* text-transform: uppercase; */
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
}

.modal_input, .btn_min {
    width: 100% !important;
    margin-top: 10px;
}
.btn_dark{
    border-radius: 100px;
    color: #ffffff;
    height: 50px;
    font-weight: 500;
    font-size: 25px;
    background-color: red;
    border: none;
    
}
